#MRWidget {
	display: inline-block;
	width: 300px;
	min-height: 250px;
	max-height: 300px;
	margin: 0;
	padding: 0;
	border: 1px solid blue;
}

.linksBox {
	position: relative;

	width: 100%;
	height: 40px;

}

.linksBox a {
	color: black;
	text-decoration: none;
}

.linksBox .profilePhoto {
	position: absolute;
	left: 10px;

	width: 40px;
	height: 40px;
}

.linksBox .profileHandle {
	position: absolute;
	left: 55px;
	top: 20px;
}

.linksBox .timestamp {
	position: absolute;
	right: 10px;
	top: 20px;

	font-weight: bold;
}

.contentBox {
	height: 230px;

	text-align: center;
}

.contentBox img {
	height: 230px;
}

.contentBox .tweet {
	width: 280px;
	height: 220px;
	margin: 10px auto 0 auto;

	text-align: left;
}

.countsBox {
	position: relative;

	height: 30px;
}

.countsBox div {
	position: absolute;

	display: inline-block;
}

.countsBox .likes,
.countsBox .favorites {
	left: 10px;
}

.likes .img {
	background: none;
}

.favorites .img {
	background: url('https://si0.twimg.com/images/dev/cms/intents/icons/favorite_hover.png');
}

.countsBox .comments,
.countsBox .retweets {
	right: 10px;
}

.comments .img {
	background: none;
}

.retweets .img {
	background: url('https://si0.twimg.com/images/dev/cms/intents/icons/retweet_hover.png');
}