<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Test task 1</title>
	<link rel = "stylesheet" type = "text/css" href = "css/mr-widget.css">	
</head>
<body>
	<div id = "MRWidget"></div>
	<script src = "http://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src = "http://documentcloud.github.io/underscore/underscore-min.js"></script>
	<script src = "http://backbonejs.org/backbone-min.js"></script>
	<!-- Template for widget -->
	<script type = "text/template" id = "MRWidgetTemplate">
		<div class = "linksBox">
			<img class = "profilePhoto" src = "<%= userImage %>">
			<a class = "profileHandle" href = "<%= userUrl %>" target = "_blank">@<%= userName %></a>
			<a class = "timestamp" href = "<%= postUrl %>" target = "_blank"><%= time %></a>
		</div>
		<div class = "contentBox">
			<%= content %>
		</div>
		<div class = "countsBox">
			<% for(count in counts) { %>
				<div class = "<%= count %>"> 
					<div class = "img">
					<span><%= counts[count] %></span>
				</div>
			<% } %>
		</div>
	</script>
	<script src = "js/mr-widget.js"></script>
</body>
</html>